<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
              <!-- data sharing between controllers
                    Service
                    Input/output
                    observable-->
        <!-- <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>  
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/student</property>  
        <property name="connection.username">postgres</property>  
        <property name="connection.password">netstorm</property>  
        <property name="connection.driver_class">org.postgresql.Driver</property>  
    	<mapping class="com.learn.hibernate.Student"/> -->
    	<property name="hbm2ddl.auto">update</property>
    	<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
    	<property name="connection.url">jdbc:Oracle:thin:@localhost:1521:XE</property>
    	<property name="connection.username">HR</property>  
        <property name="connection.password">password</property>
        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>  
    	<mapping class="com.learn.hibernate.Student"/>  
    </session-factory>  
  
</hibernate-configuration>  
